/* products.css */

.products {
  padding: 40px 20px;
  background-color: #fff;
  margin-top: 20px;
}

.products h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.products ul {
  list-style-type: none;
  padding-left: 0;
}

.products ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}